xmlsh/samples/data/books.rng

<?xml version="1.0"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <choice>
            <ref name="CATEGORY"/>
            <choice>
                <notAllowed/>
                <element name="BOOKLIST">
                    <ref name="BOOKS"/>
                    <ref name="CATEGORIES"/>
                </element>
            </choice>
            <ref name="BOOKS"/>
            <ref name="ITEM"/>
            <ref name="CATEGORIES"/>
        </choice>
    </start>
    <define name="ITEM">
        <choice>
            <notAllowed/>
            <element name="ITEM">
                <optional>
                    <attribute name="TAX">
                        <data type="NMTOKEN"/>
                    </attribute>
                </optional>
                <attribute name="CAT">
                    <data type="IDREF"/>
                </attribute>
                <element name="TITLE">
                    <ref name="string"/>
                </element>
                <element name="AUTHOR">
                    <ref name="string"/>
                </element>
                <element name="PUBLISHER">
                    <ref name="string"/>
                </element>
                <element name="PUB-DATE">
                    <data type="date"/>
                </element>
                <element name="LANGUAGE">
                    <choice>
                        <value type="string">Spanish</value>
                        <value type="string">French</value>
                        <value type="string">German</value>
                        <value type="string">English</value>
                    </choice>
                </element>
                <element name="PRICE">
                    <optional>
                        <attribute name="currency">
                            <choice>
                                <value type="string">EUR</value>
                                <value type="string">USD</value>
                                <value type="string">CAD</value>
                                <value type="string">GBP</value>
                            </choice>
                        </attribute>
                    </optional>
                    <data type="decimal"/>
                </element>
                <element name="QUANTITY">
                    <ref name="integer"/>
                </element>
                <element name="ISBN">
                    <data type="string">
                        <param name="pattern">[0-9]{9}[0-9X]</param>
                    </data>
                </element>
                <element name="PAGES">
                    <ref name="integer"/>
                </element>
                <element name="DIMENSIONS">
                    <optional>
                        <attribute name="UNIT">
                            <choice>
                                <value type="string">cm</value>
                                <value type="string">in</value>
                            </choice>
                        </attribute>
                    </optional>
                    <list>
                        <data type="decimal">
                            <param name="minExclusive">0</param>
                        </data>
                        <data type="decimal">
                            <param name="minExclusive">0</param>
                        </data>
                        <data type="decimal">
                            <param name="minExclusive">0</param>
                        </data>
                    </list>
                </element>
                <element name="WEIGHT">
                    <optional>
                        <attribute name="UNIT">
                            <choice>
                                <value type="string">g</value>
                                <value type="string">oz</value>
                            </choice>
                        </attribute>
                    </optional>
                    <data type="decimal"/>
                </element>
            </element>
        </choice>
    </define>
    <define name="integer">
        <data type="integer"/>
    </define>
    <define name="CATEGORIES">
        <choice>
            <notAllowed/>
            <element name="CATEGORIES">
                <mixed>
                    <attribute name="DESC">
                        <data type="string"/>
                    </attribute>
                    <zeroOrMore>
                        <ref name="CATEGORY"/>
                    </zeroOrMore>
                </mixed>
            </element>
        </choice>
    </define>
    <define name="string">
        <data type="string"/>
    </define>
    <define name="BOOKS">
        <choice>
            <notAllowed/>
            <element name="BOOKS">
                <oneOrMore>
                    <ref name="ITEM"/>
                </oneOrMore>
            </element>
        </choice>
    </define>
    <define name="CATEGORY">
        <choice>
            <notAllowed/>
            <element name="CATEGORY">
                <optional>
                    <attribute name="NOTE">
                        <data type="string"/>
                    </attribute>
                </optional>
                <attribute name="DESC">
                    <data type="string"/>
                </attribute>
                <attribute name="CODE">
                    <data type="ID"/>
                </attribute>
            </element>
        </choice>
    </define>
</grammar>
