xmlsh/schemas/xsh_types.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:simpleType name = "path">
		<xsd:annotation>
			<xsd:documentation>A relative or fully specified path name</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name = "name">
		<xsd:annotation>
			<xsd:documentation>A single component of a filename not including directory</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base = "xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name = "file">
		<xsd:attribute name = "name" type = "name"/>
		<xsd:attribute name = "path" type = "path"/>
	</xsd:complexType>
	<xsd:element name = "file" type = "file"/>
	<xsd:element name = "all">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "file" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>